.weekDays-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 0.25rem;
  background: #dddddd;
  width: 2.5rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #025aa5;
  color: #ffffff;
}

.weekDays-selector input[type=checkbox]:disabled + label {
  opacity: 0.8;
  cursor: default;
}
