<ul class="nav nav-pills nav-fill" style="background-color:#eee; font-size:120%">
  <li *ngIf="tokenService?.currentUserData && tokenService.currentUserData['role'] != 'regular'"
   class="nav-item active">
    <a id="menu-users" class="nav-link" href="" routerLink="/users" routerLinkActive="active">
      <i class="fa fa-users"></i>
    </a>
  </li>
  <li *ngIf="tokenService?.currentUserData" class="nav-item active">
    <a id="menu-accounts" class="nav-link" href="" routerLink="/accounts" routerLinkActive="active">
     <i class="fa fa-building-o"></i>
    </a>
  </li>
  <li *ngIf="tokenService?.currentUserData" class="nav-item active">
    <a id="menu-contacts" class="nav-link" href="" routerLink="/contacts" routerLinkActive="active">
      <i class="fa fa-address-card-o"></i>
    </a>
  </li>
  <li *ngIf="tokenService?.currentUserData" class="nav-item">
    <a id="menu-profile" class="nav-link" href="" routerLink="/user/{{tokenService?.currentUserData?.id}}">
      <i class="fa fa-user-o"></i>
    </a>
  </li>
  <li *ngIf="tokenService?.currentUserData" class="nav-item">
    <a id="menu-log-out" class="nav-link" href="" (click)="logOut()">
      <i class="fa fa-sign-out"></i>
    </a>
  </li>
  <li class="nav-item">
    <a id='menu-reload' class="nav-link" href="" (click)="reload()">
      <i class="fa fa-refresh"></i>
    </a>
  </li>
</ul>
<br />
<simple-notifications
 [options]="notificationOptions"
 (onDestroy)="eventDestroyed($event)">
</simple-notifications>
<router-outlet></router-outlet>
