.cee {
  color: white;
  background-color: #694796;
}

.cee a {
  color: cyan;
}

.flavor {
  color: white;
  background-color: #F37B36;
}

.flavor a {
  color: lightblue;
}

.mat-card.translucent {
  opacity: 0.8;
}
