<div id="top" class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
      <div class="card">
        <div id="flavor-name" class="card-block flavor" [ngStyle]="{'min-height.px': 66}">
          {{form.controls['name'].value}} {{form.controls['color'].value}} <br />
          <a id="cee-link" class="card-link" routerLink="/cee/{{dataService.current['cee']?.id}}">{{dataService.current['cee']?.name}}</a>
        </div>
      </div>
      <div class="card card-block">
        <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
          <div *ngIf="!isReadOnly" class="form-group" [ngClass]="{'has-error':!form.controls['name'].valid && form.controls['name'].touched}">
            <label>Name:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='name'>
            <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="error">First name is required.</div>
          </div>
          <div *ngIf="!isReadOnly" class="form-group" [ngClass]="{'has-error':!form.controls['color'].valid && form.controls['color'].touched}">
            <label>Color:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='color'>
            <div *ngIf="form.controls['color'].hasError('required') && form.controls['name'].touched" class="error">Last name is required.</div>
          </div>

          <div class="form-group">
            <button
              *ngIf="!isReadOnly"
              type="submit"
              class="btn btn-primary"
              [disabled]="!form.valid"
            >
              Submit
            </button>

            <button
              *ngIf="isReadOnly"
              class="btn btn-primary"
              (click)="enableForm()"
            >
              Edit
            </button>

            <button
              *ngIf="!isReadOnly"
              class="btn btn-primary"
              (click)="disableForm()"
            >
              Cancel
            </button>

            <a
              href=""
              *ngIf="isReadOnly && tokenService && tokenService.currentUserData && tokenService.currentUserData['role'] == 'admin'"
              class="btn btn-danger"
              mwlConfirmationPopover
              [title]="title"
              (confirm)="delete()"
              (click)="false;"
            >
              Delete
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
