<div class="container">
  <div class="card flavor" style="padding: 0.5em">
    <div class="row">
      <div class="col">
        <h2>Flavors <span style="font-size:60%">({{collectionSize}})</span>
          <span *ngIf="ceeId"> for
            <a routerLink="/cee/{{dataService.current['cee']?.id}}">
              {{dataService.current['cee']?.name}}
            </a>
          </span>
        </h2>
      </div>
    </div>
  </div>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-xs-auto">
              <a *ngIf="ceeId"
                      class="btn btn-primary"
                      routerLink="/flavor/new"
                      >
                      New Flavor
              </a>
            </div>
            <div class="col">
              <input class="form-control" placeholder="Search" [(ngModel)]="search" [formControl]="searchControl"/>
            </div>
          </div>
        </div>
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let item of data">
              <td><a routerLink="/flavor/{{item.id}}">{{item.name + ", " + item.color}}</a></td>
              <td *ngIf="!ceeId"><a routerLink="/cee/{{item.cee_id}}">{{item.cee_name}}</a></td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="collectionSize > pageSize" class="card-footer">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [pageSize]="pageSize"
            [(page)]="page"
            (pageChange)="pageChanged($event)"
            [maxSize]=2
            size="sm"
            >
          </ngb-pagination>
        </div>
      </div>
</div>
