<div id="top" class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
      <div class="card">
        <div class="card-block cee" [ngStyle]="{'min-height.px': 66}">
          <favorite [favoritableId]="id" style="float:right; margin-top: -1em; margin-right: -0.7em"></favorite>
          <span id='cee-name'>{{form.controls['name'].value}}</span> <br />
          <a id='flavors-link' class="card-link" routerLink="/flavors/{{dataService.current['cee']?.id}}">Flavors</a>
          <a id='notes-link' class="card-link" routerLink="/notes/{{dataService.current['cee']?.id}}">Note</a>
        </div>
      </div>
      <div class="card card-block">
          <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
          <div *ngIf="!isReadOnly" class="form-group" [ngClass]="{'has-error':!form.controls['name'].valid && form.controls['name'].touched}">
            <label>Name:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='name'>
            <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="error">Name is required.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['fd1'].valid && form.controls['fd1'].touched}">
            <label>FD1:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='fd1'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['fd2'].valid && form.controls['fd2'].touched}">
            <label>FD2:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='fd2'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['rc'].valid && form.controls['rc'].touched}">
            <label>RC:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='rc'>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['referrer'].valid && form.controls['referrer'].touched}">
            <label>Ref by:</label>
            <select id="referrerSelect" formControlName="referrer" class="form-control input-lg">
              <option value="MA">MA</option>
              <option value="Provider">Provider (MD, PA, NP)</option>
              <option value="RC">RC</option>
              <option value="FD">FD</option>
            </select>
          </div>


          <div class="form-group" [ngClass]="{'has-error':!form.controls['phone'].valid && form.controls['phone'].touched}">
            <label><a href="tel:{{dataService.current['cee']?.phone}}"><i class="fa fa-phone" aria-hidden="true"></i> Phone:</a></label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='phone'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['street'].valid && form.controls['street'].touched}">
            <label><a href="" (click)="openMap()"><i class="fa fa-map-marker" aria-hidden="true"></i> Street:</a></label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='street'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['city'].valid && form.controls['city'].touched}">
            <label>City:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='city'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['zip'].valid && form.controls['zip'].touched}">
            <label>Zip:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='zip'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['fax'].valid && form.controls['fax'].touched}">
            <label>Fax:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='fax'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['website'].valid && form.controls['website'].touched}">
            <label>Website:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='website'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['om'].valid && form.controls['om'].touched}">
            <label>Office Manager:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='om'>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!form.controls['kind'].valid && form.controls['kind'].touched}">
            <label>Type:</label>
            <select id="kindSelect" formControlName="kind" class="form-control input-lg">
              <option value="Orthopedic">Orthopedic</option>
              <option value="FamilyPractice">Family Practice</option>
              <option value="Podiatrist">Podiatrist</option>
              <option value="Pediatrician">Pediatrician</option>
              <option value="Neurologist">Neurologist</option>
              <option value="Rheumatologist">Rheumatologist</option>
              <option value="GeneralSurgery">General Surgery</option>
              <option value="OcMed">Oc Med</option>
              <option value="SpineSpecialist">Spine Specialist</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <!-- <div class="form-group" [ngClass]="{'has-error':!form.controls['state'].valid && form.controls['state'].touched}">
            <label>State:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" [formControl]="form.controls['state']">
          </div> -->
          <!-- <div class="form-group" [ngClass]="{'has-error':!form.controls['email'].valid && form.controls['email'].touched}">
            <label><a href="mailto:{{dataService.current['cee']?.email}}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email:</a></label>
            <input [readonly]="isReadOnly" class="form-control" type="text" [formControl]="form.controls['email']">
          </div> -->

          <div class="form-group">
            <button
              *ngIf="!isReadOnly"
              type="submit"
              class="btn btn-primary"
              [disabled]="!form.valid"
            >
              Submit
            </button>

            <button
              *ngIf="isReadOnly"
              class="btn btn-primary"
              (click)="enableForm()"
            >
              Edit
            </button>

            <button
              *ngIf="!isReadOnly"
              class="btn btn-primary"
              (click)="disableForm()"
            >
              Cancel
            </button>

            <a
              href=""
              *ngIf="isReadOnly && tokenService && tokenService.currentUserData && tokenService.currentUserData['role'] == 'admin'"
              class="btn btn-danger"
              mwlConfirmationPopover
              [title]="title"
              (confirm)="delete()"
              (click)="false;"
            >
              Delete
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
