<div id="top" class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
      <div class="card">
        <div class="card-block cee" [ngStyle]="{'min-height.px': 66}">
          <favorite [favoritableId]="id" style="float:right; margin-top: -1em; margin-right: -0.7em"></favorite>
          <span id='cee-name'>{{form.controls['name'].value}}</span> <br />
          <a id='flavors-link' class="card-link" routerLink="/flavors/{{dataService.current['cee']?.id}}">Flavors</a>
          <a id='notes-link' class="card-link" routerLink="/notes/{{dataService.current['cee']?.id}}">Notes</a>
        </div>
      </div>
      <div class="card card-block">
          <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
          <div *ngIf="!isReadOnly" class="form-group" [ngClass]="{'has-error':!form.controls['name'].valid && form.controls['name'].touched}">
            <label>Name:</label>
            <input [readonly]="isReadOnly" class="form-control" type="text" formControlName='name'>
            <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="error">Name is required.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['form'].valid && form.controls['form'].touched}">
            <label>Form:</label>
            <select id="formSelect" formControlName="form" class="form-control input-lg">
              <option value="MA">MA</option>
              <option value="Provider">Provider (MD, PA, NP)</option>
              <option value="RC">RC</option>
              <option value="FD">FD</option>
            </select>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!form.controls['source'].valid && form.controls['source'].touched}">
            <label>Source:</label>
            <select id="sourceSelect" formControlName="source" class="form-control input-lg">
              <option value="MA">MA</option>
              <option value="Provider">Provider (MD, PA, NP)</option>
              <option value="RC">RC</option>
              <option value="FD">FD</option>
            </select>
          </div>

          <div class="form-group">
            <button
              *ngIf="!isReadOnly"
              type="submit"
              class="btn btn-primary"
              [disabled]="!form.valid"
            >
              Submit
            </button>

            <button
              *ngIf="isReadOnly"
              class="btn btn-primary"
              (click)="enableForm()"
            >
              Edit
            </button>

            <button
              *ngIf="!isReadOnly"
              class="btn btn-primary"
              (click)="disableForm()"
            >
              Cancel
            </button>

            <a
              href=""
              *ngIf="isReadOnly && tokenService && tokenService.currentUserData && tokenService.currentUserData['role'] == 'admin'"
              class="btn btn-danger"
              mwlConfirmationPopover
              [title]="title"
              (confirm)="delete()"
              (click)="false;"
            >
              Delete
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
