@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
.btn:hover {
  cursor: pointer
}

.error {
  color: red;
}

.hidden {
  display: none !important;
}

.accomplished {
  animation: accomplished 1s steps(1, start) 2;
  -webkit-animation: accomplished 1s steps(2, start) 2;
}
@keyframes accomplished {
  to {
    background-color: green;
  }
}
@-webkit-keyframes accomplished {
  to {
    background-color: inherit;
  }
}

.failed {
  animation: failed 1s steps(1, start) 2;
  -webkit-animation: failed 1s steps(2, start) 2;
}
@keyframes failed {
  to {
    background-color: red;
  }
}
@-webkit-keyframes failed {
  to {
    background-color: inherit;
  }
}

.nav.nav-pills.nav-fill {
  opacity: .7;
  background-color:#eee;
  font-size:120%
}

/*
  would like to put this in background.component.css and list in
  directive styleUrls, but this is not supported for directives yet (8/17)
  https://github.com/angular/angular/issues/17766
*/
.background-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  display: block;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
