<div id="home" class="container">
  <div class="row justify-content-center">
    <div class="head col-12 col-sm-8 col-md-7 col-lg-6" (click)="cees()">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="opt col-12 col-lg-6" (click)="cees()">
      <button id="cee-button" class="btn btn-block cee">
        <i class="fa fa-building-o fa-5x"></i>
        ACCOUNT
        <i class="fa fa-chevron-right fa-5x"></i>
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="opt col-12 col-lg-6" (click)="flavors()">
      <button id="flavor-button" class="btn btn-block flavor">
        <i class="fa fa-address-card-o fa-5x"></i>
        CONTACT
        <i class="fa fa-chevron-right fa-5x"></i>
      </button>
    </div>
  </div>

</div>
