<div id="home" class="container">
  <div class="row justify-content-center">
    <div class="head col-12 col-sm-8 col-md-7 col-lg-6" (click)="accounts()">
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="opt col-12 col-lg-6" (click)="accounts()">
      <button id="account-button" class="btn btn-block account">
        <i class="fa fa-building-o fa-5x"></i>
        ACCOUNT
        <i class="fa fa-chevron-right fa-5x"></i>
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="opt col-12 col-lg-6" (click)="contacts()">
      <button id="contact-button" class="btn btn-block contact">
        <i class="fa fa-address-card-o fa-5x"></i>
        CONTACT
        <i class="fa fa-chevron-right fa-5x"></i>
      </button>
    </div>
  </div>

</div>
